<!-- 
<div class="container-fluid footer-container">
  <div class="container">
    <section class="footer-container ">
      <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 footer-container ">
              <div class="">
                <h4>
                  Address
                </h4>
                <div class="">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Location
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      Call +01 1234567890
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                      test@gmail.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
              <div class="info_detail">
                <h4>
                  Info
                </h4>
                <p>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
              <div class="">
                <h4>
                  Links
                </h4>
                <div class="">
                  <a class="info_links" href="">
                    Home
                  </a>
                  <a class="info_links" href="">
                    About
                  </a>
                  <a class="info_links" href="">
                    Services
                  </a>
                  <a class="info_links" href="">
                    Why Us
                  </a>
                  <a class="info_links" href="">
                    Team
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
              <h4>
                Subscribe
              </h4>
              <p>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                  CreditCard Service...<br>
                </p>
            </div>
          </div>
      </div>    
  </section>
  
  <section class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="">Free Html Templates</a>
        </p>
      </div>
    </section>
  </div>
</div>
 -->
